
<div class="container">

    <form class="form-signin" id="connexion" role="form" >
        <h2 class="form-signin-heading"> Connexion à SATeroid</h2>
        <input type="text" class="form-control" id="nickname" placeholder="Nom du joueur" required autofocus><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
    </form>

    <div class="row" id="control">

        <div id="info">
            <div id="name"><div class="val">Pacman</div></div>
            <div id="score">
                Score
                <div class="val">2020</div>
            </div>
        </div>

        <div class="part col-xs-6">
        <div id="direction"></div>
        </div> 
       <div class="part col-xs-6">
            <div id="btnA" class="btn" data-id="a" >A</div>
            <div id="btnB" class="btn" data-id="b" >B</div>
        </div> 

    </div>


</div> <!-- /container -->


<div id="alert_orientation">
Votre appareil doit être en position paysage!
</div>