
<div class="container">

    <form class="form-signin" id="connexion" role="form" >
        <h2 class="form-signin-heading"> Connexion à SATeroid</h2>
        <input type="text" class="form-control" id="nickname" placeholder="Nom du joueur" required autofocus><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
    </form>

    <div class="row" id="control">

        <div class="part col-xs-6">
        <div id="direction"></div>
        </div> 
       <div class="part col-xs-6">
            <div id="btn1" class="btn" data-id="a" >A</div>
            <div id="btn1" class="btn" data-id="b" >B</div>
        </div> 

    </div>


</div> <!-- /container -->